/* general property*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main container property*/
.continer{
    width: 400px;
    border: 1px solid #888888;
    margin: 100px auto;
    text-align: center;
    background-color: #ffffff;
}
.continer:hover{
    transition: border,background .5 linear;
    border: 3px #dd2c00 solid;
    background:linear-gradient(30deg,#27496d,#00909e);
}
.continer .show{
    width: 100%;
    margin: 10px 0;
}
/* start text input editing */
.continer .show #screen{
    width: 93%;
    font-size: 40px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 0px 0px 10px 10px;
    padding: 23px 12px;
    border-top: none;
    border-bottom: 1px solid #dd2c00;
    border-left:1px solid #dd2c00;
    border-right:1px solid #dd2c00;
    text-align: right;
    margin-top: 0px;
    color: black;
    background-color: white;
}
.continer .show input:hover{
    border-top: 1px solid #000839;
    border-left:1px solid #000839;
    border-right:1px solid #000839; 
}
.continer .show #screen:hover{
    border-bottom: 1px solid #000839;
    border-left:1px solid #000839;
    border-right:1px solid #000839; 
}
/* end editing of text input*/
/* start editing the input type button */
.continer .row0,
.continer .row1,
.continer .row2,
.continer .row3,
.continer .row4,
.continer .row5{
    width: 100%;
    padding: 5px 0px;

}
.continer .row0 input{
    padding: 5px 0px;
    font-size: 25px;
    width: 90px;
    height: 60px;
    border: .5px solid #888888 ;
    background:none;
}
.continer .row1 input{
    padding: 5px 0px;
    font-size: 30px;
    width: 90px;
    height: 60px;
    border: .5px solid #888888 ;
    background:#204051;
    color: white;
}
.continer .row2 input,
.continer .row3 input,
.continer .row4 input,
.continer .row5 input{
    padding: 5px 0px;
    font-size: 30px;
    width: 90px;
    height: 60px;
    border: .5px solid #888888 ;
    background:none;
}